<html>
    <head>
        <meta charset=“UFT-8”>
        <title>CSS</title>
        <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'body', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!--
        <link rel="stylesheet" type="text/css" href="header.css">
        <link rel="stylesheet" type="text/css" href="body.css">
        <link rel="stylesheet" type="text/css" href="top.css">
        -->
    </head>
    <body>
        <%= render partial: "components/header" %>

        <div class="bodyContainer">
                <div class="pupularToilet">
                    <h2>
                        <%= @query %>
                    </h2>
                    <ul class="popularToiletList">
                        <% @result.each do |r| %>
                            <li class="pupularToiletContent">
                                <%= image_tag r["icon"], class: 'toiletImage' %>
                                <div class="toiletText">
                                    <p class="toiletName">
                                        <%= link_to(r["name"], toilet_path(r["place_id"]))%>
                                    </p>
                                    <p class="listValutaionContainer">
                                        <span id="v">評価: </span><%= r["valuation"] %>
                                    </p>
                                    <div class="toiletDescription">
                                        <%= r["description"] %>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="userRanking">
                    <ul class="userRankingList">
                        <h2 class="userRankingTitle">ユーザーランキング</h2>
                        <% @topUser.each_with_index do |r,i| %>
                            <li class="userContent">
                                <p class="rank">
                                    <%= (i+1).to_s %>
                                </p>
                                <%= image_tag  r.image_url, class: "userImage" %>
                                <p class="userName">
                                <%= r.username %>
                                </p>
                            </li>
                        <% end %>

                    </ul>
                    
                </div>
            </div>
        </div>
    
    </body>
</html>