<html>
    <head>
        <meta charset=“UFT-8”>
        <title>CSS</title>
        <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'body', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!--
        <link rel="stylesheet" type="text/css" href="header.css">
        <link rel="stylesheet" type="text/css" href="body.css">
        <link rel="stylesheet" type="text/css" href="top.css">
        -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    </head>
    <body>
        
        <%= render partial: "components/header" %>

        <div class="toiletBodyContainer">
                <div class="toiletDescriptionContainer">
                    <%= image_tag @result["icon"], class: 'toiletDescriptionImage' %>
                    <div class="toiletDescriptionText">
                        <p class="toiletDescriptionName">
                            <%= @result["name"] %>
                        </p>
                        <p class="toiletDescriptionAddress">
                            <%= @result["formatted_address"] %>
                        </p>
                        <p class="toiletDescriptionDescription">
                            <%= @result["description"]%>
                            
                        </p>
                    </div>
                    <% if user_signed_in? %>
                        <input type="button" value="編集する" id="showTextAreaButton">
                        <%= form_tag(edit_path, method: :post,id: "editArea",style: "display: none;",:multipart => true) do -%>
                          名前: <%= text_field_tag(:toiletName) %>
                          説明: <%= text_area_tag(:toiletDescription) %>
                          画像: <%= file_field_tag(:image_path) %>
                          <%= hidden_field_tag :toiletId , @toiletId %>
                          <%= submit_tag "投稿", data: { disable_with: "送信済" }%>
                        <% end -%>
                    <% end %>
                </div>
                <% if user_signed_in? %>
                    <div class="postReviewContainer">
                        <p class="postReviewTitle">レビューですよ</p>
                        <%= form_tag(reviews_path, method: :post) do -%>
                          評価: <%= select_tag :valuation, options_for_select(["1", "2", "3", "4", "5"]) %>
                          Comment: <%= text_area_tag(:message) %>
                          <%= hidden_field_tag :toiletId , @toiletId %>
                          <%= submit_tag "投稿", data: { disable_with: "送信済" }%>
                        <% end -%>
                    </div>
                <% end %>

                <div class="toiletReviewsContainer">
                    <p class="toiletDesctiptionReviewsTitle">レビュー</p>
                    <ul class="toiletDescriptionReviewsList">
                        <% @reviews.each do |r| %>
                            <li class="toiletDescriptionReviewContent">
                                <p class="reviewerName"> 
                                    <%= r["username"] %>
                                </p>
                                <div class="valuation">
                                    <%= r["valuation"] %>
                                </div>
                                <div class="reviewText">
                                    <%= r["message"]%>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#showTextAreaButton').click(function(){
                    $('#editArea').show();
                });
            });
        </script>
    </body>
</html>